[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
click = "*"
pillow = "*"
e1839a8 = {editable = true,path = "."}
yapf = "*"

[requires]
python_version = "3.8"
